body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}

.App {
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.board-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.board {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: lightgray;
}

.tile {
	background-color: white;
	margin: 20px;
	flex-grow: 1;
	font-size: 40px;
	position: relative;
}

.row {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.end-game-modal-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.end-game-modal {
	height: 50%;
	width: 50%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
